body{
    background-color: gainsboro;
    font-family: helvetica;
}

#sloth{
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#introduction h1{
    text-align:center;
}
#information p{
    text-align:center;
}
#links p{
    text-align:center;
}
#asList h1{
    text-align:center;
}
#asList ul{
    margin: 100px;
}