body{
    background-color: #7A0033;
    font-family: helvetica;
}

#sloth{
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #E0005D;
    border-radius:3px;
}

h1,p{
    color:white;
}

a{
    text-decoration:none;
    color:white;
}
a:hover{
    text-decoration:underline;
    color: #FA0067;
    transition-delay:1ms;
}
a:visited{
    color:white;
}
#introduction h1{
    text-align:center;
}
#information p{
    text-align:center;
}
#links p{
    text-align:center;
}
#asList h1{
    text-align:center;
}
#asList ul{
    margin: 100px;
    padding:10px;
   
}
ul li{
    padding:5px;
}
.grid-container{
    display:grid;
}
