*{
    margin:0;
    padding:0;
}

body{
    font-family:helvetica;
}

.dropdown-menu{
    display:none;
}

.dropdown-link:hover ul{
    display:block;
}
.menu li{
    border-bottom:solid 1px #000;
    list-style-type:none;
    background-color:lightslategrey;
}

.dropdown-link a{
    color:black;
    text-decoration:none;
    display:block;
    padding:0.5em;
    padding-top:1em;
    padding-bottom:0.5em;
    
}

.dropdown-link img{
    float:right;
    width:20px;
}

.dropdown-menu li{
    background-color:lightgray;
}
a:hover{
    text-decoration:underline;
}
